* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3rem;
}
.intro-chunk {
  padding: 64px 32px;
}

.intro-chunk p {
  font-size: 1.5rem;
}

header {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  height: 100%;
  padding-top: 64px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.indented-heading {
  margin: 0;
  margin-left: -48px;
  padding: 32px 48px 32px;
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 16px 32px 32px;
}